

.hero {
    position: absolute;
    width: 1920px;
    height: 694px;
    left: 0;
    /* top: 137px; */
    background: linear-gradient(90deg, rgba(167, 218, 163, 0.8) -1.28%, 
    rgba(114, 194, 109, 0.9) 33.18%, 
    #3CAA35 103.2%), url('../public/images/truck.jpg') no-repeat center center / cover ;
    /* background-size: cover;
    background-position: center; */
}

.logo {
    position: absolute;
    width: 400px;
    height: 374px;
    left: 98px;
    top: 127px;
    background: url('../public/W2B\ 3.png');
}

.heroText {
    /* Get to know us */
    position: absolute;
    width: 323px;
    height: 63px;
    left: 545px;
    top: 138px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 63px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
}

.heropart {
    position: absolute;
    width: 708px;
    height: 276px;
    left: 545px;
    top: 198px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #FFFFFF;
}

.abt {
    /* About us */
    position: absolute;
    width: 249px;
    height: 83px;
    left: 500px;
    top: 744px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    /* identical to box height */
    color: #000000;
}

.abp {
    position: absolute;
    width: 1098px;
    height: 880px;
    left: 100px;
    top: 863px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #000000;
}

.bord3 {
    position: absolute;
    width: 1920px;
    max-width: 100%;
    height: 799px;
    left: 0px;
    top: 1767px;
    background: #EBF7EB;
}

.parg3 {
    position: absolute;
    width: 428px;
    height: 83px;
    left: 400px;
    top: 20px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 55px;
    line-height: 82px;
    /* identical to box height */
    color: #000000;
}

.team1 {
    position: absolute;
    width: 285px;
    height: 223px;
    left: 155px;
    top: 105px;
    background: url('../public/images/team1.png'), #C4C4C4;
}
.team2 {
    position: absolute;
    width: 285px;
    height: 223px;
    left: 505px;
    top: 105px;
    background: url('../public/images/team2.png'), #C4C4C4;
}
.team3 {
    position: absolute;
    width: 285px;
    height: 223px;
    left: 855px;
    top: 105px;
    background: url('../public/images/team3.png'), #C4C4C4;
}
.team4 {
    position: absolute;
    width: 285px;
    height: 223px;
    left: 155px;
    top: 419px;
    background: url('../public/images/team4.png'), #C4C4C4;
}
.team5 {
    position: absolute;
    width: 285px;
    height: 223px;
    left: 505px;
    top: 419px;
    background: url('../public/images/team5.png'), #C4C4C4;
}
.team6 {
    position: absolute;
    width: 285px;
    height: 223px;
    left: 855px;
    top: 419px;
    background: url('../public/images/team6.png'), #C4C4C4;
}

.htag1 {
    /* Executive director */
    position: static;
    left: 0%;
    right: 0%;
    top: 0%;
    padding-top: 230px;
    bottom: 50%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    /* identical to box height */
    /* slate/900 */
    color: #0F172A;
    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.ptag1 {
    position: static;
    left: 23.29%;
    right: 23.29%;
    top: 50%;
    bottom: 0%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    /* identical to box height */
    color: #3CAA35;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}